/* reset css */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 눈누 호출 */
@font-face {
  font-family: "PyeongchangPeace";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Taenada";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2")
    format("woff2");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "ChusaSarang";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/ChusaLove.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "YeogiOttaeJalnan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "FounderYooGeonWook";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRetrosansOTF.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "GanaChocolate";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "SchoolSafetyAquariumDecor";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2508-2@1.0/HakgyoansimEohangkkumigiB.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MapoHongdaeFreedom";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoHongdaeFreedomA.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "PerpetualSnow";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2508-2@1.0/PermanentSnow.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HsJandari";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2510-2@1.0/HSJandari.woff2")
    format("woff2");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Escoredream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff")
    format("woff");
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "OngleIpSeaBreeze";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2510-1@1.0/Ownglyph_the_sea_breeze-Rg.woff2")
    format("woff2");
  font-weight: normal;
  font-display: swap;
}

/* a태그 */
a {
  color: black;
  text-decoration: none;
}

/* 레이블 */
label {
  margin: 0 15px 0px 25px;
}

/* Congrats.jsx */
.open {
  background-image: url("/image/congrats.jpg");
  background-size: contain;
  color: black;
  font-size: 2.5rem;
  text-align: center;
  height: 100px;
  font-weight: bold;
  font-family: "PyeongchangPeace";
  padding-top: 2rem;
  margin-bottom: 3.5rem;
  cursor: pointer;
}
.open > .openTxt {
  padding: 10px;
}

/* TopMenu.jsx */
/* 전체 메뉴 감싸는 div */
.TopMenu-div {
  display: flex;
  justify-content: space-evenly;
  font-size: center;
}

/* 전체 메뉴 */
.TopMenu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 75%;
  height: 150px;
  list-style: none;
  padding: 0;
}

/* 로고 이미지 */
.TopMenu > li:first-child img {
  display: block;
  height: 2px;
  width: auto;
}

/* 메인 메뉴 */
.TopMenu > li {
  font-weight: bold;
  font-size: 28px;
  font-family: "Taenada";
  cursor: pointer;
  margin-bottom: 100px;
}

/* hover 효과 */
.TopMenu a:hover {
  color: #ff6666;
  text-decoration: underline;
}

/* 서브메뉴 */
.subMenu {
  display: none;
  position: absolute;
  list-style: none;
  padding: 5px;
  margin-top: 3px;
  line-height: 30px;
  font-size: 21px;
}

.mainMenu:hover > .subMenu {
  display: block;
}

/* Carousel.jsx  */
/* 전체 캐러셀 */
.slider-container {
  position: relative;
  height: 255px;
  overflow: hidden;
  border: 2px solid black;
}

/* 전체 캐러셀 */
.slider-track {
  display: flex;
  height: 100%;
}

/* 캐러셀의 각 슬라이드 */
.slide {
  flex: 0 0 100%;
  display: flex;
  cursor: pointer;
}

/* DogsDay.jsx */
/* 눈누 호출 */

/* (강아지의 날)전체 div */
.dogsDay {
  margin: 0 auto;
  text-align: center;
}

/* 텍스트 전체 div */
.ment {
  margin-top: 25px;
  text-align: center;
}

/* '전체 텍스트 div '*/
.promise {
  font-family: "PerpetualSnow";
  font-size: 20px;
  font-weight: bold;
}

/* 강아지 사진 */
.dogImg {
  width: 570px;
  height: 660px;
  background-size: cover;
  margin: 10rem 0 5rem 0rem;
}

/* '강아지의 날' */
.tellDogsDay {
  font-family: "SchoolSafetyAquariumDecor";
  font-size: 4.5rem;
  line-height: 85px;
}

/* '3월 23일 */
.date {
  font-family: "MapoHongdaeFreedom";
  font-size: 2.5rem;
}

/* '지금까지는 ~ 함께하겠습니다. */
.promiseMent {
  line-height: 60px;
}

/* '함께해요', '동물', '입양' ul*/
.together {
  display: flex;
  width: 30%;
  justify-content: space-evenly;
  margin: 0 auto;
}

/* '함께해요', '동물', '입양' 각 li */
.together > li {
  margin-top: 15px;
  font-family: "SchoolSafetyAquariumDecor";
  font-weight: bold;
  font-size: 21px;
}

/* '함께해요', '동물', '입양' 각 li hover */
.together > li:hover {
  cursor: pointer;
  color: #ff6666;
  text-decoration: underline;
}

/* Review.jsx */
/* '따뜻한 ~ 이야기' */
.storyTitle {
  margin: 7.5rem 0px 50px 0px;
  text-align: center;
  font-size: 2.5rem;
  font-family: "HsJandari";
}

/* 전체 그리드 */
.Grid {
  display: grid;
  grid-template-columns: repeat(4, 320px);
  justify-content: space-evenly;
  padding: 40px;
  row-gap: 55px;
}

/* 이미지 아이디, 후기를 포함한 div */
.reviewDiv {
  width: 320px;
  height: 400px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* 그리드 내 각 div hover */
.reviewDiv:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

/* 이미지 아이디, 후기를 포함한 div */
.reviewDiv {
  width: 300px;
  height: 350px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* 이미지 아이디, 후기를 포함한 div */
.reviewDiv:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.15);
}

/* 후기 이미지 */
.img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* Reservation.jsx 보류 */
/* 이름 */
.Name {
  font-size: 1rem;
  font-weight: bold;
  margin: 10px 0 5px;
  color: #333;
}

/* 상세 글 */
.Detail {
  font-size: 1.1rem;
  color: #666;
  line-height: 1.4;
  word-break: keep-all;
}

.reviewTitle {
  text-align: center;
  font-size: 1.8rem;
  margin-top: 40px;
  color: #222;
}

form {
  margin-top: 110px;
  font-size: 20px;
  text-align: center;
}

/* '방문 예약 및 상담 신청'*/
.reservationTitle {
  font-weight: bold;
  font-size: 45px;
  text-align: center;
  margin-top: 30px;
}

.content {
  border: 3px solid#ff6666;
  font-size: 19px;
  line-height: 70px;
  display: inline-block;
  width: 610px;
}

textarea {
  resize: none;
  overflow-y: auto;
}

/* 완료 버튼 */
.submit {
  background-color: #ff6666;
  color: white;
  text-align: center;
  border: 2px solid #ff6666;
  width: 250px;
  height: 50px;
  font-size: 23px;
  border-radius: 15px;
  margin: 40px 0 30px 0;
}

.submit:hover {
  cursor: pointer;
  background-color: #ff9999;
  border: 2px solid #ff9999;
}

/* 인풋*/
.nameTbx,
.phoneNumTbx {
  width: 250px;
  height: 30px;
  padding-left: 5px;
}

.nameTbx::placeholder,
.phoneNumTbx::placeholder {
  font-size: 16px;
}

/* 셀렉트 박스 */
#branch-select,
#species-select {
  width: 180px;
  height: 34px;
  font-size: 15px;
}

/* 타임 인풋 */
.input-time {
  width: 150px;
  height: 30px;
}

/* 문의사항 Tbx (textarea)*/
.largeTbx {
  width: 300px;
  height: 100px;

  padding: 10px;
  border-radius: 6px;
  border: 2px solid #ccc;
  font-size: 15px;
  margin: 0 auto;
}

/* Information.jsx */
/* 밑줄 */
.underline {
  margin-top: 5rem;
}

/* '개인정보취급방침', 
'이메일무단수집거부' li */
.notice-div {
  display: flex;
  justify-content: space-between;
  width: 25%;
}

/* '개인정보취급방침', 
'이메일무단수집거부' ul */
.notice-ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 2.5rem 0 11px 18px;
  list-style: none;
}

/* '이메일무단수집거부' */
.notice-ul > li:last-child {
  padding-left: 11px;
}

/* '개인정보취급방침', 
'이메일무단수집거부' li hover */
.notice-ul > li:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* 회사 정보 div*/
.companyInfo-div {
  margin: 18px 0 0 -26px;
}

/* 회사 정보 ul */
.companyInfo-ul {
  /* display: flex;
  justify-content: space-evenly;
  width: 55%; */
  margin-left: 45px;
  line-height: 25px;
}

/* 각 회사 정보 */
.companyInfo-ul > li {
  display: inline-block;
  text-align: center;
  font-size: 14px;
}

/* Sns.jsx */
/* sns 로고 div */
.sns-Div {
  display: flex;
  justify-content: space-between;
  float: right;
  margin: 0 0 25px 0;
}

/* sns 로고 ul */
.snsIcons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* 각 sns로고 */
.snsIcon {
  color: #ccc;
  display: inline-block;
}

/* 마지막 sns 로고  */
/* (스레드) */
.snsIcon:last-child {
  margin: 0 20px 3px 0;
}

/* sns 로고 ul hover */
.snsIcon:hover {
  cursor: pointer;
  color: #aaa;
}

/* Login.jsx */
/* 
'로그인'
'회원가입',
'아이디 찾기',
'비밀번호 찾기'
*/
.title {
  font-size: 65px;
  font-family: "Escoredream";
  margin: 10rem 0 5rem 0;
  text-align: center;
}

/* 
각 페이지 인풋들
(텍스트 박스, 버튼 등)*/
.inputs {
  text-align: center;
}

/* 텍스트 박스 */
.login-idTbx,
.login-pwTbx,
.join-nameTbx,
.join-idTbx,
.join-telTbx,
.join-telTbx2,
.join-emailTbx,
.join-pwHintTbx,
.join-pwTbx,
.join-pwTbx2,
.findId-nameTbx,
.findId-telTbx,
.findId-emailTbx,
.findPw-nameTbx,
.findPw-mailTbx,
.findPw-idTbx {
  width: 390px;
  height: 40px;
  font-size: 17px;
  padding: 5px 6px 5px 6px;
}

/* 최하단 텍스트 박스 */
.login-pwTbx,
.join-idTbx,
.join-telTbx,
.join-emailTbx,
.join-pwHintTbx,
.join-pwTbx,
.join-pwTbx2,
.findId-emailTbx,
.findId-telTbx,
.findPw-mailTbx,
.findPw-idTbx {
  margin-top: 15px;
}

/* 버튼 */
.loginBtn,
.joinBtn,
.findIdBtn,
.findPwBtn {
  background-color: #ff6666;
  color: white;
  border: 2px solid #ff6666;
  margin-top: 20px;
  width: 405px;
  height: 60px;
  font-size: 25px;
  font-weight: bold;
}

/* 버튼 hover */
.loginBtn:hover,
.findIdBtn:hover,
.findPwBtn:hover,
.joinBtn:hover {
  cursor: pointer;
  background-color: #ff9999;
  border: 2px solid #ff9999;
}

/* MakeHappy.jsx */
.ourTurn {
  font-family: "OngleIpSeaBreeze";
  text-align: center;
  font-size: 3rem;
  margin-top: 6.5rem;
  line-height: 80px;
}

/* 
로그인 화면의
'회원가입',
'아이디 찾기',
'비밀번호 찾기'
*/
.extraMenu {
  margin-top: 15px;
  display: inline-block;

  > li {
    display: inline-block;
    font-size: 19.5px;
    cursor: pointer;
  }
}

/* 
로그인 화면의
'회원가입',
'아이디 찾기',
'비밀번호 찾기' hover
*/
.extraMenu > li:hover {
  font-weight: bold;
}

/* Copyright.jsx */
.copyright {
  margin-top: 5rem;
  text-align: center;
  line-height: 13px;
  font-size: 11px;
}

/* ScrollTopBtn */
/* 상단 이동 버튼 */
.arrow-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: white;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;

  /* hover 전환 효과 */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* 상단 이동 버튼 hover */
.arrow-up:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
}

/* ShowId.jsx */
/* 회색 div 감싸는 div */
.found-div {
  border: 2px solid red;
  text-align: center;
}

/* 회색 div */
.foundTitle-div {
  border: 3px solid #ccc;
  text-align: center;
  margin: 5rem 0 5rem 0;
  display: inline-block;
  padding: 4.5rem 130px 4.5rem 130px;
  line-height: 80px;
}

/* '아이디 ~ 완료되었습니다' */
.id-completed {
  font-size: 33px;
}

/* '가입된 ~ 있습니다' */
.idNum {
  font-size: 25.5px;
}

/* 사용자가 가입한 아이디 개수
{foundId ? 1 : 0}
 */
.joinedId {
  font-weight: bold;
}
